alembic==1.15.2
blinker==1.9.0
click==8.1.8
cmake==4.0.0
colorama==0.4.6
easyocr==1.7.2
face-recognition==1.3.0
face_recognition_models==0.3.0
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fsspec==2025.3.2
greenlet==3.1.1
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.6
lazy_loader==0.4
Mako==1.3.10
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
ninja==1.11.1.4
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
Pillow==9.5.0
pyclipper==1.3.0.post6
python-bidi==0.6.6
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
scikit-image==0.25.2
scipy==1.15.2
shapely==2.1.0
six==1.17.0
somepackage==1.2.3
SQLAlchemy==2.0.40
sympy==1.13.1
tifffile==2025.3.30
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
typing_extensions==4.13.2
tzdata==2025.2
Werkzeug==3.1.3
